:root {
    --aggie-maroon: #500000;
    --aggie-blue: #003c71;
    --aggie-gray-brown: #d6d3c4;
    --aggie-gray-olive: #5b6236;
    --aggie-brown: #998542;
    --aggie-light-gray: #f6f6f6;
    --aggie-med-gray: #eaeaea;
    --aggie-dark-gray: #d1d1d1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--aggie-med-gray);
    color: white;
}

.navbar {
    background-color: var(--aggie-maroon);
}

/* Hero Style */
.hero {
    background-image: url("../../assets/images/computer.jpeg");
}

.hero-title {
    background-color: #003c71;
    border-radius: 5px;
    padding: 10px;
}
.hero-img {
    border: 5px solid var(--aggie-blue);
    border-radius: 50%;
    width: 14%;
    margin: 20px;
}

.tag {
    padding: 10px 10px 10px 20px;
    width: max-content;
    max-width: 75%;
    background-color: var(--aggie-blue);
    position: relative;
    bottom: 25%;
    border-radius: 0px 10px 10px 0px;
}

.project img {
    border: 5px solid var(--aggie-blue);
    border-radius: 20px;
}

.footer {
    background-color: #500000;
    padding-top: 10px;
}

.footer a:hover {
    color: #5b6236;
}

.navbar a:hover {
    color: #5b6236;
}

.about {
    background-color: #500000;
    margin: 0 10px 0 10px;
    padding: 15px;
    border-radius: 5px;
}