:root {
    --aggie-maroon: #500000;
    --aggie-blue: #003c71;
    --aggie-gray-brown: #d6d3c4;
    --aggie-gray-olive: #5b6236;
    --aggie-brown: #998542;
    --aggie-light-gray: #f6f6f6;
    --aggie-med-gray: #eaeaea;
    --aggie-dark-gray: #d1d1d1;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--aggie-med-gray);
    color: white;
}

.navbar {
    background-color: var(--aggie-maroon) !important;
}

.nav-link {
    color: white !important;
    font-size: larger;
}

.navbar-brand {
    color: white !important;
    font-size: xx-large;
}

.nav-link:hover {
    color: #5b6236 !important;
    font-weight: bold;
}

/* Hero Style */
.hero {
    background-image: url("../../assets/images/computer.jpeg");
    background-size: cover;
    height: 50vh;
}

.hero-title {
    background-color: #003c71;
    border-radius: 5px;
    padding: 10px;
    font-size: x-large;
}

.hero-img {
    border: 5px solid var(--aggie-blue);
    border-radius: 50%;
    width: 14%;
    margin: 20px;
}

.card {
    color: black;
    border-radius: 5px;
    border-color: black;
    padding: 5px;
}

.row {
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer {
    background-color: #500000;
    padding: 20px 0 20px 0;
    margin: 20px 0 20px 0;
    font-size: larger;
}

.footer a {
    text-decoration: none;
}

.footer div a:hover {
    color: #5b6236 !important;
}

.about {
    background-color: #500000;
    margin: 0 10px 0 10px;
    padding: 15px;
    border-radius: 5px;
}

#work {
    color: black;
    text-align: center;
    padding: 10px;
}

#aboutme {
    color: black;
    text-align: center;
    padding: 10px;
}

#contactme div a {
    color: white;
    font-size: larger;
}

@media (min-width: 544px) {  
    .hero-title{font-size: xx-large;} 
}